// font
$font: Merriweather;
$header-font: Work Sans;

// colors
$white: #EFEFEF;
$light-blue: #D6E5EF;
$dark-blue: #2F4B66;
$blue: #5A8CBE;
$black: #313131;
$grey: #BDBDBD;
$grey-transparent: rgba(102, 100, 100, 50);
$grey-transparent-off: rgba(102, 100, 100, 0);
