$vertical-spacing: 50px;

.landing-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.landing-header-text {
  font-family: $header-font;
  font-size: 56px;
  font-weight: bold;
  color: $white;
  margin-bottom: $vertical-spacing;
  cursor: default;
}

.landing-links {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: $vertical-spacing;

  &.text {
    margin-left: 55px;
  }
}

.landing-link {
  font-family: $font;
  font-size: 36px;
  padding: 20px;
  color: $white;
  cursor: pointer;
  transition: color, 0.3s;

  &:hover {
    color: $blue;
  }
}

.landing-icon {
  font-size: 36px;
  color: $grey;
  cursor: pointer;
  transition: color, 0.3s;
  margin: 10px;

  &:hover {
    color: $blue;
  }
}

.landing-slash {
  font-family: $font;
  font-size: 56px;
  font-weight: bold;
  color: $white;
  margin-top: 7px;
  cursor: default;
}
