.modal-container {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: $black;
  z-index: -1;
  transition: left, 0.3s, z-index, 0.3s;

  &.isIntro {
    &.intro {
      left: 0px;
      z-index: 1;
    }
    &.work {
      left: -100%;
      z-index: 1;
    }
    &.contact {
      left: -200%;
      z-index: 1;
    }
  }

  &.isExperience {
    &.intro {
      left: 100%;
      z-index: 1;
    }
    &.work {
      left: 0px;
      z-index: 1;
    }
    &.contact {
      left: -100%;
      z-index: 1;
    }
  }

  &.isContact {
    &.intro {
      left: 200%;
      z-index: 1;
    }
    &.work {
      left: 100%;
      z-index: 1;
    }
    &.contact {
      left: 0px;
      z-index: 1;
    }
  }
}

.modal-content-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: scroll;
}

.modal-header-container, .modal-footer-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.modal-header-text {
  font-family: $header-font;
  font-size: 48px;
  font-weight: bold;
  color: $blue;
  line-height: 150%;
  text-overflow: clip;
}

.modal-body-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.modal-body-text {
  font-family: $font;
  font-size: 20px;
  color: $white;
  line-height: 150%;
}

.modal-link {
  font-size: 36px;
  color: $grey;
  transition: color, 0.3s;
  text-decoration: none;
  margin-left: 10px;

  &:hover {
    color: $dark-blue;
  }

  &.download {
    font-family: $font;
    font-size: 20px;
    color: $blue;
    margin-left: 0px;
    cursor: pointer;

    &:hover {
      color: $dark-blue;
    }
  }
}

.download-icon {
  font-size: 20px;
  color: inherit;
  margin-left: 10px;
  cursor: pointer;
}

.me-image {
  align-self: flex-end;
  height: 100%;
  max-height: 150px;
  object-fit: contain;
}
