.modeswitch-container {
  position: relative;
  text-align: center;
  top: 300px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  z-index: 3;
  transition: background-color, 0.3s;

  &:hover {
    background-color: $blue;
  }
}

.modeswitch-icon {
  font-size: 36px;
  color: $grey;
}
